# Dependencies
node_modules/

# Environment files
.env
.env.*

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for uploaded files
uploads/

# IDE
.idea/
.vscode/
*.swp
*.swo
